<div class="adu2-container">
    <div class="adu2-header">
        <h2>{{ lang.interface.scan_button }}</h2>
        <p>{{ lang.widget.description }}</p>
    </div>
    <div class="adu2-controls">
        <button class="adu2-scan-full-btn am-button am-button--success">
            {{ lang.interface.scan_button }}
        </button>
    </div>
    <div class="adu2-progress" style="display:none">
        <span>{{ lang.interface.scanning }}</span>
    </div>
    <div class="adu2-results" style="display:none"></div>
</div>
